{#
/**
 * @file
 * Theme override for a details element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the details element.
 * - errors: (optional) Any errors for this details element, may not be set.
 * - title: (optional) The title of the element, may not be set.
 * - summary_attributes: A list of HTML attributes for the summary element.
 * - description: (optional) The description of the element, may not be set.
 * - children: (optional) The children of the element, may not be set.
 * - value: (optional) The value of the element, may not be set.
 *
 * @see template_preprocess_details()
 */
#}
{% set error_attributes = create_attribute() %}
{% set classes = [
    'details',
    element['#required'] ? 'details--required'
  ]
%}
{% set summary_classes = [
  'details__header',
  required ? 'js-form-required',
  required ? 'form-required'
] %}
{% set title_classes = ['details__title'] %}
{% set content_classes = ['details-wrapper', 'details__content'] %}
{% set error_classes = ['details__error-message', 'form-item--error-message'] %}

<details{{ attributes.addClass(classes) }}>
  {% if title %}
    <summary{{ summary_attributes.addClass(summary_classes) }}><span{{ title_attributes.addClass(title_classes) }}>{{ title }}</span>{% if element['#required'] %} <strong class="u-text-primary">{{ '(required)'|trans }}</strong>{% endif %}</summary>
  {% endif %}

  <div{{ content_attributes.addClass(content_classes) }}>
    {% if errors %}
      <div{{ error_attributes.addClass(error_classes) }}>
        {{ errors }}
      </div>
    {% endif %}

    {% if description %}
      <div class="details-description details__description">{{ description }}</div>
    {% endif %}
    {% if children %}
      {{ children }}
    {% endif %}
    {% if value %}
      {{ value }}
    {% endif %}
  </div>
</details>
