{#
/**
 * @file
 * Default theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'form-item__control',
    attributes.required ? 'form-item__control--required',
    ('form-item__control--' ~ attributes.type)|clean_class,
    'form-checkbox',
    attributes.required ? 'form-checkbox--required',
    ('form-checkbox--' ~ attributes.type)|clean_class,
  ]
%}
<input{{ attributes.addClass(classes) }} />{{ children }}
