{#
/**
 * @file
 * Theme override for a 'textarea' #type form element.
 *
 * Available variables
 * - wrapper_attributes: A list of HTML attributes for the wrapper element.
 * - attributes: A list of HTML attributes for the <textarea> element.
 * - resizable: An indicator for whether the textarea is resizable.
 * - required: An indicator for whether the textarea is required.
 * - value: The textarea content.
 *
 * @see template_preprocess_textarea()
 */
#}
{% set wrapper_classes = [
  'form-textarea-wrapper',
  'form-item-group',
  'form-item-group--text',
  'form-item-group--textarea',
  required ? 'form-item-group--required',
  resizable ? 'form-item-group--resizable'
  ]
%}
{% set classes = [
    'form-textarea',
    resizable ? 'resize-' ~ resizable,
    required ? 'required',
    'form-item__control',
    'form-item__control--textfield',
    'form-item__control--textarea',
    resizable ? 'form-item__control--resizable',
    required ? 'form-item__control--required',
  ]
%}
<div{{ wrapper_attributes.addClass(wrapper_classes) }}>
  <textarea{{ attributes.addClass(classes) }}>{{ value }}</textarea>
</div>
