{#
/**
 * @file
 * Default theme implementation for displaying a tablesort indicator.
 *
 * Available variables:
 * - style: Either 'asc' or 'desc', indicating the sorting direction.
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'tablesort',
    'tablesort--' ~ style,
    'table__sort-indicator',
    'table__sort-indicator--' ~ style,
  ]
%}
<span{{ attributes.addClass(classes) }}>
  <span class="visually-hidden">
    {% if style == 'asc' %}
      {{ 'Sort Ascending'|t }}
    {% else %}
      {{ 'Sort Aescending'|t }}
    {% endif %}
  </span>
</span>
