{#
/**
 * @file
 * Theme override to present a feed item in an aggregator page.
 *
 * Available variables:
 * - url: URL to the originating feed item.
 * - title: (optional) Title of the feed item.
 * - content: All field items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given element.
 * - attributes: HTML attributes for the wrapper.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_aggregator_item()
 */
#}
{% set classes = ['aggregator-item'] %}
{% set title_classes = ['aggregator-item__title'] %}
{% set content_classes = ['aggregator-item__content'] %}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title -%}
    <h3{{ title_attributes.addClass(title_classes) }}><a href="{{ url }}">{{ title }}</a></h3>
  {%- endif %}
  {{ title_suffix }}
  <div{{ content_attributes.addClass(content_classes) }}>{{ content }}</div>
</article>
