{#
/**
 * @file
 * Theme override for a marker for new or updated content.
 *
 * Available variables:
 * - status: Number representing the marker status to display. Use the constants
 *   below for comparison:
 *   - MARK_NEW
 *   - MARK_UPDATED
 *   - MARK_READ
 */
#}
{% set classes = [
    'badge',
    status is constant('MARK_NEW') ? 'badge--new',
    status is constant('MARK_UPDATED') ? 'badge--updated',
  ]
%}
{% if logged_in %}
  {% if status is constant('MARK_NEW') %}
    <mark{{ attributes.addClass(classes) }}>{{ 'New'|t }}</mark>
  {% elseif status is constant('MARK_UPDATED') %}
    <mark{{ attributes.addClass(classes) }}>{{ 'Updated'|t }}</mark>
  {% endif %}
{% endif %}
