/* =============================================================================
// @name Tabs Component
// @description Drupal tab styling.
// @group components
// @file src/sass/_partials/4-components/_component.tabs.scss
// ========================================================================== */

/* stylelint-disable selector-max-type */

.tabs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;

  // Remove the pseudo-element many tabs plugins add, since we are using
  // flexbox, not floats. This fixes a bug in Safari where it would show a 1px
  // space for the pseudo-element.
  &::before {
    content: none;
  }
}

// Primary tabs style variant.
// ======================================
// .tabs--primary {

//   .tabs__item {
//   }

//   .tabs__item--is-active,
//   [aria-selected='true'] {
//   }

//   .tabs__text {
//   }
// }

// Secondary tabs style variant.
// ======================================
// .tabs--secondary {

//   .tabs__item {
//   }

//   .tabs__text {
//   }
// }

// Primary vertical tabs style variant.
// ======================================
// .tabs-group--vertical {

//   .tabs--primary {
//   }

//   .tabs__content {
//   }
// }
