/* =============================================================================
// @name Sidebar Menu Component
// @description Styling for the contextual side menu.
// @group components
// @file src/sass/_partials/4-components/_component.sidebar-menu.scss
// ========================================================================== */

// .sidebar-menu {

// .menu {
//   margin-left: $half-spacing;
// }

// .menu__item {

//   &:not(.menu__item--level-1) {
//     padding: $quarter-spacing 0;
//   }
// }

// .menu__link {
//   display: inline-block;
//   color: set-color(tertiary);

//   &.is-active {
//     color: $text-color;
//   }
// }

// .menu__link--has-children {
// }

// .menu__link--has-visible-children {
//   .menu__link {
//   }
// }

// .menu--level-1 {
// }

// .menu__item--level-1 {
// }

// .menu__link--level-1 {
// }

// .menu--level-2 {
// }

// .menu__link--level-2 {
// }

// .menu__link--level-2,
// .menu__link--level-3,
// .menu__link--level-4 {

//   &:hover {
//     text-decoration: underline;
//     color: set-color(primary);
//   }
// }

// .menu__link--level-2 {
// }

// .menu--level-3 {
// }

// .menu__link--level-3 {
// }

// .menu--level-4 {
// }

// .menu__link--level-4 {
// }
// }
