/* =============================================================================
// @name Table Component
// @description Styling for tabular data component.
// @group components
// @file src/sass/_partials/4-components/_component.table.scss
// ========================================================================== */

// .table {
//   margin-bottom: $spacing;
// }

// .views--responsive-table .table--views,
// .table--is-responsive {
//   display: block;
//   overflow-x: auto;
//   width: auto;
// }

// .table__caption {
// }

// .table__body {
//   background-color: $white;
// }

// .table__row--alt {

//   a {
//   }
// }

// .table__cell {
// }

// .table__cell--header {

// &.is-active {

//   a {

//     &::after {
//       content: none;
//     }
//   }
// }

// &.table__cell--is-sortable {

//   a {
//   }
// }

// Table sort icon theming.
// ===========================================================================
// .table__sort-indicator {
// }

// .table__sort-indicator--asc {

//   &::after {
//   }
// }

// .table__sort-indicator--desc {

//   &::after {
//   }
// }
// }

// Striped Table Styling
// =============================================================================
// .table--is-striped {

//   tbody {

//     tr {

//       &:nth-child(even) {

//         td {
//         }
//       }
//     }
//   }
// }
