/* =============================================================================
// @name Carousel Component
// @description Styling for a photo or content slider that cycles through each
//              content item.
// @group components
// @file src/sass/_partials/4-components/_component.carousel.scss
// ========================================================================== */

// .carousel-container {
//   position: relative;
// }

// .carousel--hidden {
//   animation-play-state: paused;
// }

// .carousel {
//   animation-name: fade-in;
//   animation-duration: 4s;
//   animation-play-state: running;
//   animation-delay: 0.5s;
//   animation-iteration-count: 1;
// }

// // .carousel__slide {
// // }

// .carousel__link,
// .carousel__img {
//   display: block;
// }

// .carousel__link {

//   .img {
//     display: block;
//     object-fit: contain;
//   }
// }
