/* =============================================================================
// @name Overlay Component
// @description Component to style a screen overlay commonly used with
//   lightboxes and modal components.
// @group components
// @file src/sass/_partials/4-components/_component.overlay.scss
// ========================================================================== */

// .overlay {
//   position: fixed;
//   z-index: z-index(overlay);
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background-color: $overlay-bg;
// }
