/* =============================================================================
// @name Breadcrumb Component
// @description Nav component to display a list of breadcrumb links.
// @group components
// @file src/sass/_partials/4-components/_component.breadcrumb.scss
// ========================================================================== */

.breadcrumb {
  display: flex;
}

// .breadcrumb__item {

//   &:not(:last-of-type) {
//     margin-right: $spacing;
//   }
// }

// .breadcrumb__item--first {
//
// }

// .breadcrumb__item--last {
//
// }

// .breadcrumb__link {
//   color: $link-color;

//   &:link,
//   &:visited {
//     color: $link-color;
//   }

//   &:hover,
//   &:focus,
//   &:active {
//     text-decoration: underline;
//     color: $link-color-hover;
//   }
// }

// .breadcrumb__link--first {
//
// }

// .breadcrumb__link--last {
//
// }

// .breadcrumb__text {
// }

// .breadcrumb__text--last {
// }
