/* =============================================================================
// @name Button Component
// @description Form and link button component.
// @group components
// @file src/sass/_partials/4-components/_component.button.scss
// ========================================================================== */

// Base Button styling
// =============================================================================
// .button {
// }

// Button Variants
// =============================================================================
// .button--primary {

//   &:hover {
//   }
// }

// .button--secondary {

//   &:hover {
//   }
// }

// .button--tertiary {

//   &:hover {
//   }
// }

// .button--bare {
//   appearance: none;
//   margin: 0;
//   padding: 0;
//   text-transform: none;
//   border: none;
//   border-radius: 0;
//   background-color: transparent;
// }

// .button--expanded {
//   display: block;
//   width: 100%;
// }

// // .button--views-submit {
// // }

// .button--positive,
// .button--success {

//   &:hover {
//   }
// }

// // .button--caution {
// //
// // }

// .button--negative,
// .button--danger,
// .button[type='submit'][value='Clear Search'] {
// }

// .button--link {
//
// }

// .button--disabled {
//
// }

// .button--dropdown {
//
// }

// Button Sizes
// =============================================================================
// .button--xs {
//   padding: $quarter-spacing $half-spacing + $eighth-spacing;
//   font-size: $font-size-xs;
// }

// .button--sm {
//   padding: $quarter-spacing + $eighth-spacing $spacing;
//   font-size: $font-size-sm;
// }

// .button--md {
//   padding: $quarter-spacing + $eighth-spacing $spacing;
//   font-size: $font-size-md;
// }

// .button--lg {
//   padding: $quarter-spacing + $eighth-spacing $spacing;
//   font-size: $font-size-lg;
// }

// .button--xl {
//   padding: $quarter-spacing + $eighth-spacing $spacing;
//   font-size: $font-size-xl;
// }

// Button Icons
// =============================================================================
