{#
/**
 * @file
 * Default theme implementation to navigate books.
 *
 * Presented under nodes that are a part of book outlines.
 *
 * Available variables:
 * - tree: The immediate children of the current node rendered as an unordered
 *   list.
 * - current_depth: Depth of the current node within the book outline. Provided
 *   for context.
 * - prev_url: URL to the previous node.
 * - prev_title: Title of the previous node.
 * - parent_url: URL to the parent node.
 * - parent_title: Title of the parent node. Not printed by default. Provided
 *   as an option.
 * - next_url: URL to the next node.
 * - next_title: Title of the next node.
 * - has_links: Flags TRUE whenever the previous, parent or next data has a
 *   value.
 * - book_id: The book ID of the current outline being viewed. Same as the node
 *   ID containing the entire outline. Provided for context.
 * - book_url: The book/node URL of the current outline being viewed. Provided
 *   as an option. Not used by default.
 * - book_title: The book/node title of the current outline being viewed.
 *
 * @see template_preprocess_book_navigation()
 *
 * @ingroup themeable
 */
#}
{% if tree or has_links %}
  {% set book_nav_attributes = create_attribute({
    'role': 'navigation'
  }) %}
  {% set book_nav_classes = [
    'book-nav'
    ] %}
  {% if book_title %}
    {% set book_nav_id = ('book-label-' ~ book_id)|clean_id %}
  {% endif %}
  <nav{% if book_nav_id %} aria-labelledby="{{ book_nav_id }}"{% endif %} {{ book_nav_attributes.addClass(book_nav_classes)|without('aria-labelledby') }}>
    {{ tree }}
    {% if has_links %}
      {% if book_title %}
      <h2 id="{{ book_nav_id }}" class="book-nav__title">{{ 'Book traversal links for'|t }} {{ book_title }}</h2>
      {% endif %}
      <ul class="pager pager--book book-nav__pager">
      {% if prev_url %}
        <li class="pager__item pager__item--previous pager--book__item book-nav__pager__item">
          <a href="{{ prev_url }}" rel="prev" title="{{ 'Go to previous page'|t }}" class="pager__link pager__link--directional pager__link--previous book-nav__pager-link"><span class="visually-hidden">{{ prev_title|t }}</span><span aria-hidden="true">{{ 'Previous'|t }}</span></a>
        </li>
      {% endif %}
      {% if parent_url %}
        <li class="pager__item pager__item--up pager--book__item book-nav__pager__item">
          <a href="{{ parent_url }}" title="{{ 'Go to parent page'|t }}" class="pager__link pager__link--directional pager__link--parent book-nav__pager-link"><span class="visually-hidden">{{ 'Up'|t }}</span><span aria-hidden="true">{{ 'Up'|t }}</span></a>
        </li>
      {% endif %}
      {% if next_url %}
        <li class="pager__item pager__item--next pager--book__item book-nav__pager__item">
          <a href="{{ next_url }}" rel="next" title="{{ 'Go to next page'|t }}" class="pager__link pager__link--directional pager__link--next book-nav__pager-link"><span class="visually-hidden">{{ next_title|t }}</span><span aria-hidden="true">{{ 'Next'|t }}</span></a>
        </li>
      {% endif %}
    </ul>
    {% endif %}
  </nav>
{% endif %}
