{#
/**
 * @file
 * Theme override for a single local action link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - link: A rendered link element.
 *
 * @see template_preprocess_menu_local_action()
 */
#}
{% set classes = [
  'list__item',
  'list__item--local-action'
] %}
<li{{ attributes.addClass(classes) }}>{{ link }}</li>
