{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, menu_name) }}

{% macro menu_links(items, attributes, menu_level, menu_name) %}
  {% import _self as menus %}
  {% set menu_level = menu_level + 1 %}

  {% if items %}
    {% set menu_classes = ['menu', 'menu--' ~ (menu_name|clean_class), 'menu--level-1'] %}
    {% if menu_level == 1 %}
      <ul{{ attributes.addClass(menu_classes) }}>
    {% else %}
      <ul class="menu {{ 'menu--level-' ~ menu_level }}">
    {% endif %}
    {% for item in items %}
      {% set menu_item_classes = [
          'menu__item',
          'menu__item--level-' ~ menu_level,
          item.below or item.is_expanded or item.is_collapsed ? 'menu__item--has-children',
          item.below ? 'menu__item--has-visible-children',
          item.is_expanded ? 'menu__item--is-expanded',
          item.is_collapsed ? 'menu__item--is-collapsed',
          item.in_active_trail ? 'menu__item--in-active-trail',
          item_class ? item_class|safe_join(' '),
      ] %}
      {% set menu_item_attributes = create_attribute() %}
      <li{{ menu_item_attributes.addClass(menu_item_classes) }}>
        {% set route = item.original_link.getPluginDefinition %}
        {% if (route.route_name == '<nolink>') %}
          {% set menu_header_classes = [
            'menu__header',
            'menu__header--level-' ~ (menu_level),
            item.below or item.is_expanded or item.is_collapsed ? 'menu__header--has-children',
            item.below ? 'menu__header--has-visible-children',
            item.is_expanded ? 'menu__header--is-expanded',
            item.is_collapsed ? 'menu__header--is-collapsed',
            item.in_active_trail ? 'menu__header--in-active-trail'
          ] %}
          <span{{ item.attributes.addClass(menu_header_classes).removeClass(menu_item_classes) }}><span class="menu__link-text">{{ item.title }}</span></span>
        {% else %}
          {% set menu_link_classes = [
            'menu__link',
            'menu__link--level-' ~ (menu_level),
            item.below or item.is_expanded or item.is_collapsed ? 'menu__link--has-children',
            item.below ? 'menu__link--has-visible-children',
            item.is_expanded ? 'menu__link--is-expanded',
            item.is_collapsed ? 'menu__link--is-collapsed',
            item.in_active_trail ? 'menu__link--in-active-trail'
          ] %}
          {% set menu_link_text %}<span class="menu__link-text">{{ item.title }}</span>{% endset %}
          {{ link(menu_link_text, item.url, item.attributes.addClass(menu_link_classes).removeClass(menu_item_classes), url.setOption('html', true)) }}
        {% endif %}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level, menu_name) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
