{#
/**
 * @file
 * Default theme implementation of Superfish menu items.
 *
 * Available variables:
 * - html_id: Unique menu item identifier.
 * - item_class: Menu item classes.
 * - link: Link element.
 * - link_menuparent: Link element, when a menu parent.
 * - children: Menu item children.
 * - multicolumn_wrapper: Whether the menu item contains a column.
 * - multicolumn_column: Whether the menu item contains a column.
 * - multicolumn_content: Whether the menu item contains a column.
 *
 * @see template_preprocess_superfish_menu_items()
 *
 * @ingroup themeable
 */
#}

{% for item in menu_items %}
  {# Create a Drupal twig attribute object #}
  {% set menu_item_attributes = create_attribute() %}

  {# Find the depth based on the superfish depth class. Requires the Twig Tweak
  module. #}
  {# {% set depth = item['item_class']|preg_replace('/.+depth-([[:digit:]]).+/', '$1') %} #}

  {# Check if is in active trail based on the superfish depth class #}
  {% set active_trail = 'active-trail' in item['item_class'] %}

  {# Convert the classes string to an array #}
  {% set current_classes = item['item_class']|split(' ') %}

  {% set menu_item_attributes = menu_item_attributes.addClass(current_classes) %}

  {% set menu_item_attributes = menu_item_attributes.addClass(
    'menu__item',
    'menu__item--level-' ~ depth,
    item['children'] is not empty ? 'menu__item--has-children',
    item['children'] is not empty ? 'menuparent',
    active_trail is not empty or false ? 'menu__item--in-active-trail',
    item['children'] is not empty and item['multicolumn_column'] ? 'sf-multicolumn-column'
    ) %}

  {# Add the ID attribute #}
  {% set menu_item_attributes = menu_item_attributes.setAttribute('id', item.id) %}

  {# Create a Drupal twig attribute object #}
  {% set menu_attributes = create_attribute() %}
  {% set menu_classes = [
    'menu',
    'menu--level-' ~ (depth + 1),
    item['children'] is not empty ? 'menu--has-children',
    active_trail is not empty or false ? 'menu--in-active-trail'
  ] %}

  {% set menu_attributes = menu_attributes.addClass(menu_classes) %}

  {% set menu_link_classes = [
    'menu__link',
    'menu__link--level-' ~ depth,
    active_trail is not empty or false ? 'menu__link--in-active-trail',
    item['children'] is not empty ? 'menu__link--has-children',
    item['children'] is not empty ? 'menuparent',
    ] %}

  {% set menu_link_attributes = create_attribute(item['link']['#options']['attributes']) %}
  {% set menu_link_url = item['link']['#url'] %}
  {% set menu_link_title = item['link']['#title'] %}
  {% set menu_link_attributes = menu_link_attributes.addClass(menu_link_classes) %}

  <li{{ menu_item_attributes }}>
    {% if item['multicolumn_column'] %}
    <div class="sf-multicolumn-column">
    {% endif %}
    {{ link(menu_link_title, menu_link_url, menu_link_attributes, url.setOption('html', true)) }}
    {% if item['multicolumn_wrapper'] %}<ul class="sf-multicolumn">
    <li class="sf-multicolumn-wrapper {{ item['item_class'] }}">
    {% endif %}
    {% if item['children'] is not empty %}
      {% if item['multicolumn_content'] %}<ol{{ menu_attributes }}>{% else %}<ul{{ menu_attributes }}>{% endif %}
      {{ item['children'] }}
      {% if item['multicolumn_content'] %}</ol>{% else %}</ul>{% endif %}
    {% endif %}
    {% if item['multicolumn_wrapper'] %}</li></ul>{% endif %}
    {% if item['multicolumn_column'] %}</div>{% endif %}
  </li>
{% endfor %}
