{#
/**
 * @file
 * Default theme implementation for a progress bar.
 *
 * Note that the core Batch API uses this only for non-JavaScript batch jobs.
 *
 * Available variables:
 * - label: The label of the working task.
 * - percent: The percentage of the progress.
 * - message: A string containing information to be displayed.
 *
 * @ingroup themeable
 */
#}
<div class="progress progress-bar" data-drupal-progress>
  {% if label %}
    <div class="progress__label progress-bar__label">{{ label }}</div>
  {% endif %}
  <div class="progress__track progress-bar__track"><div class="progress__bar progress-bar__indicator" style="width: {{ percent }}%"></div></div>
  <div class="progress__percentage progress-bar__percentage">{{ percent }}%</div>
  <div class="progress__description progress-bar__description">{{ message }}</div>
</div>
