{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for local actions (primary admin actions.)
 */
#}
{% block content %}
  {% if content %}
  <nav role="navigation" class="l-nav l-nav--local-actions">
    <ul class="list list--local-action">{{ content }}</ul>
  </nav>
  {% endif %}
{% endblock %}
