{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% set content_attributes = content_attributes.addClass(['brand']) %}
{% block content %}
<a href="{{ path('<front>') }}" rel="home" class="brand__link"><span class="brand__logo" aria-hidden="true"></span>
  <span class="brand__name"><span class="visually-hidden">{{ site_name }}</span></span>
</a>
{% endblock %}
