// =============================================================================
// @name Form Settings
// @description Sass settings for consistent form styling.
// @group settings
// @file src/sass/_partials/1-tools/4-settings/_settings.form.scss
// =============================================================================

$text-input-height: $spacing + $half-spacing + $quarter-spacing;
$text-input-padding: $half-spacing;

$search-textfield-width-sm: 160px;
$search-textfield-width-md: 220px;
