// =============================================================================
// @name Table Settings
// @description Settings for table related elements.
// @group settings
// @file src/sass/_partials/1-tools/4-settings/_settings.table.scss
// =============================================================================

// Table Colors
$table-header-bg-color: $white;
$table-header-text-color: $text-color;
$table-border-color: set-color(neutral);
