/* =============================================================================
// @name Form Group Layout
// @description Objects for form items and their enclosed elements.
// @group layouts
// @file src/sass/_partials/3-layout/_layout.form-group.scss
// ========================================================================== */

// .l-form-group--inline,
// .views--inline-exposed-form .views-exposed-form,
// .block--inline-form .form {
//   display: flex;
//   flex-wrap: wrap;
//   align-content: space-between;
//   align-items: flex-end;
//   max-width: 100%;
//   margin-right: -#{$spacing};
//   margin-bottom: 0;

//   > .form-item {
//     flex-grow: 1;
//   }

//   > .l-form-item--inline {
//     align-self: flex-start;
//   }

//   > .form-item--actions {

//     .button {

//       &:not(:only-child) {

//         &:not(:last-of-type) {

//         }
//       }
//     }
//   }
// }

// .l-form-item--inline {

//   .form-item__label {
//     align-self: center;
//   }

//   .form-item__description {
//     flex-grow: 1;
//     flex-basis: 100%;
//   }
// }

// .l-inline-search-form {

//   .form-item {
//     flex-basis: 0%;

//     &:last-child {
//       margin-right: 0;
//     }
//   }

//   .form-item--actions.form-item--actions.form-item--actions {
//     flex-grow: 0;
//     flex-basis: auto;
//   }
// }
