/* =============================================================================
// @name Page Container Layout
// @description Layout classes for restricting page width.
// @group layouts
// @file src/sass/_partials/3-layout/_layout.page-container.scss
// ========================================================================== */

.l-page-container {
  width: 100%;
  max-width: $max-width;
  padding-right: $half-spacing;
  padding-left: $half-spacing;

  @include media('>md') {
    padding-right: $spacing;
    padding-left: $spacing;
  }

  @include media('>max') {
    margin-right: auto;
    margin-left: auto;
  }
}
