/* =============================================================================
// @name Text Size Utility Classes
// @description Helper classes for styling text sizes.
// @group utilities
// @file src/sass/_partials/5-utilities/_utilities.text-size.scss
// ========================================================================== */

.u-text-size--xxxl {
  font-size: $font-size-xxxl !important;
}

.u-text-size--xxl {
  font-size: $font-size-xxl !important;
}

.u-text-size--xl {
  font-size: $font-size-xl !important;
}

.u-text-size--lg {
  font-size: $font-size-lg !important;
}

.u-text-size--md {
  font-size: $font-size-md !important;
}

.u-text-size--sm {
  font-size: $font-size-sm !important;
}

.u-text-size--xs {
  font-size: $font-size-xs !important;
}
