/* =============================================================================
// @name Form Elements
// @description Base CSS for form related tags.
// @group base
// @file src/sass/_partials/2-base/_base.form.scss
// ========================================================================== */

/* stylelint-disable selector-max-type */

#{$all-text-inputs} {
  display: block;
  width: 100%;
  min-width: 200px;
  height: $text-input-height;
  padding: $text-input-padding;
  line-height: 100%;
  background-color: $white;
  border: 1px solid set-color(neutral);
  border-radius: $default-radius;
}

#{$all-text-inputs-focus},
#{$all-text-inputs-hover} {
  border: 1px solid set-color(primary);
}

// #{$all-text-inputs-active} {
//
// }

#{$all-buttons} {
  display: inline-block;
  cursor: pointer;
}

// #{$all-buttons-focus},
// #{$all-buttons-hover} {
//
// }

// #{$all-buttons-active} {
//
// }

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

// select {
//
// }

// select[multiple] {
//
// }

label {
  cursor: pointer;
}
