/* =============================================================================
// @name Typography Elements
// @description Base CSS for header and other typography tags.
// @group base
// @file src/sass/_partials/2-base/_base.typography.scss
// ========================================================================== */

/* stylelint-disable selector-max-type */

code {
  @include word-wrap;

  display: block;
  padding: $half-spacing;
  font-family: $mono-font;
  color: $text-color;
}

figure {
  margin: 0;
}

// figcaption {
//
// }

hr {
  height: 1px;
  margin: $spacing 0;
  background-color: set-color(primary);
  border: none;
}

strong,
b {
  font-weight: $font-semibold;
}
