/* =============================================================================
// @name Header Elements
// @description Base CSS for header tags.
// @group base
// @file src/sass/_partials/2-base/_base.header.scss
// ========================================================================== */

/* stylelint-disable selector-max-type */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: $font-normal;
}

h1 {
  font-size: $font-size-xl;

  @include media('>md') {
    font-size: $font-size-xxl;
  }

  @include media('>xl') {
    font-size: $font-size-xxxl;
  }
}

h2 {
  font-size: $font-size-lg;

  @include media('>md') {
    font-size: $font-size-xl;
  }
}

h3 {
  font-size: $font-size-md;

  @include media('>md') {
    font-size: $font-size-lg;
  }
}

h4 {
  font-size: $font-size-md;
}

h5 {
  font-size: $font-size-sm;
}

h6 {
  font-size: $font-size-xs;
}
