/* =============================================================================
// @name List Elements
// @description Base CSS for list tags.
// @group base
// @file src/sass/_partials/2-base/_base.list.scss
// ========================================================================== */

/* stylelint-disable selector-max-type */

ul,
ol {
  padding-left: $spacing;
  list-style-position: outside;
}

// ul {
//   list-style-image: resolve('images/icons/list-bullet.svg');
// }

li {
  margin: 0;

  > ul,
  ol {
    margin-bottom: 0;
  }
}

// Don't add margin and padding to nav lists.
nav {
  ul,
  ol,
  li {
    padding-left: 0;
    margin: 0;
    list-style: none;
  }
}

dl {
  margin: 0 0 $spacing 0;
}

// dt {
//
// }

// dd {
//
// }
