// =============================================================================
// @name Screen Reader Only
// @description Add CSS to hide an element visually, but still make it visible
//              to screen readers.
// @file src/sass/_partials/1-tools/1-3-mixins/_mixin.sr-only.scss
// =============================================================================

@mixin sr-only {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
}
