/* =============================================================================
// @name Print Page Layout Overrides
// @description Print overrides for overall site section layout.
// @group print
// @file src/sass/_print/3-layout/_page.layout.page.scss
// ========================================================================== */

// Hide the Drupal admin toolbar in print view.
.toolbar-oriented,
.toolbar-tray {
  display: none !important;
}

.l-page {
  .l-page__header,
  .l-page__navigation,
  .l-page__sidebar--first,
  .l-page__sidebar--second {
    display: none !important;
  }

  .l-page__main {
    padding: $spacing;
  }
}

.l-page__primary {
  background-color: $white;
}
